@import '../assets/scss-globals/main';

.app-sidenav-container {
  flex: 1;
  position: fixed;
  width: 100%;
  min-width: 100%;
  height: calc(100% - 66px);
  min-height: calc(100% - 66px);
}

.app-sidenav-content {
  display: flex;
  height: 100%;
  flex-direction: column;
}

.nav-icons {
  margin-right: 20px;
}
